<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Puppy Name:    <p><%= @params["name"] %></p>
    Puppy Breed:    <p><%= @params["breed"] %></p>
    Puppy Age:    <p><%= @params["age"] %></p> 

    <%= @params %>
  </body>
</html>


 <!-- {"breed"=>"cool", "name"=>"coolio", "age"=>"12", "submit"=>"submit"}  -->
